<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password?</title>
    <link rel="stylesheet" href="forgotpassword.css">
</head>
<body>
   {{#if errorMessage}}
<div style ="text-align:center; background-color:#e2e3e5 ;" class="alert alert-{{errorMessage}}">
    <button style= type ="button" class="close" data-dismiss="alert">&times;</button>	
<span style="color:red;  font-family:'Times New Roman', Times, serif; font-size:19px;">{{errorMessage}}</span>
</div>
{{/if}}                    
  {{#if successMessage}}
<div style ="text-align:center; background-color:#e2e3e5 ;" class="alert alert-{{successMessage}}">
	<button style= type ="button" class="close" data-dismiss="alert">&times;</button>
<span style="color:green;  font-family:'Times New Roman', Times, serif; font-size:19px;">{{successMessage}}</span>
</div>
{{/if}}
 {{#if infoMessage}}
<div style ="text-align:center; background-color:#e2e3e5 ;" class="alert alert-{{infoMessage}}">
	<button style= type ="button" class="close" data-dismiss="alert">&times;</button>
<span style="color:yellow;  font-family:'Times New Roman', Times, serif; font-size:19px;">{{infoMessage}}</span>
</div>
{{/if}}            
    <div class="logo">
		<img src="CodeQueen Logo.png" alt="CodeQueen logo" width="200px">
	</div>
    <div class="cover">
        <h1 class="title">Forgot your Password?</h1>
      

        <div class="container"> 
            <form action="/forgotpassword" id="myform" method="POST"> 
                    <input type="email" id="email"autofocus name= "email" placeholder="Enter your email" required>              
                <div class="buttons">
                    <a href="/login"><button class="back" type="button">Back</button></a>
                    <button class="submit" type="submit" id="send-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="forgotpassword.js"></script>
</body>
</html>