<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="login.css">

</head>
<body>
	
 {{#if errorMessage}}
<div style ="text-align:center; background-color:#e2e3e5 ;" class="alert alert-{{errorMessage}}">
	<button style= type ="button" class="close" data-dismiss="alert">&times; </button>
<span style="color:red;  font-family:'Times New Roman', Times, serif; font-size:19px;">{{errorMessage}}</span>
</div>
{{/if}}
 {{#if successMessage}}
<div style ="text-align:center; background-color:#e2e3e5 ;" class="alert alert-{{successMessage}}">
	<button style= type ="button" class="close" data-dismiss="alert">&times; </button>
<span style="color: green;  font-family:'Times New Roman', Times, serif; font-size:19px;">{{successMessage}}</span>
</div>
{{/if}}
{{#if infoMessage}}
<div style ="text-align:center; background-color:#e2e3e5 ;" class="alert alert-{{infoMessage}}">
	<button style= type ="button" class="close" data-dismiss="alert">&times; </button>
<span style="color: yellow;  font-family:'Times New Roman', Times, serif; font-size:19px;">{{infoMessage}}</span>
</div>
{{/if}}
	<div class="logo">
		<img src="CodeQueen Logo.png" alt="CodeQueen logo" width="200px">
	</div>
	<div class="big-one">
		<h1 class="form-title">Login</h1>

		<div class="container">
			<form action="/login" class="form"id="loginform"method="POST">
				
				<div class="form-input-group">
					<input type="text" class="form-input" id="username" name= "username" autofocus placeholder="Username" required>
				</div>
				
				<div class="form-input-group">
					<input type="password" class="form-input" id="password" name="password" autofocus placeholder="Password" required>
				</div> 
				
				<div class="forgotpass"> <a href="/forgotpassword" class="ml-auto mb-0 text-md">Forgot Password?</a></div>
				<button type="submit" class="form-button" >Submit</button>
				<p class="form-text">Don't have an account? <a id="form-link" href='/signup'>Sign Up Here</a></p>
			</form>
			
		</div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
<script src="login.js"></script>
</body>
</html>