<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
    <link rel="stylesheet" type="text/css" href="signup.css">
</head>
<body>
    {{#if errorMessage}}
<div style ="text-align:center; background-color:#e2e3e5 ;" class="alert alert-{{errorMessage}}">
	<button style= type ="button" class="close" data-dismiss="alert">&times; </button>
<span style="color:red;  font-family:'Times New Roman', Times, serif; font-size:19px;">{{errorMessage}}</span>
</div>
{{/if}}
 {{#if successMessage}}
<div style ="text-align:center; background-color:#e2e3e5 ;" class="alert alert-{{successMessage}}">
	<button style= type ="button" class="close" data-dismiss="alert">&times; </button>
<span style="color: green;  font-family:'Times New Roman', Times, serif; font-size:19px;">{{successMessage}}</span>
</div>
{{/if}}
{{#if infoMessage}}
<div style ="text-align:center; background-color:#e2e3e5 ;" class="alert alert-{{infoMessage}}">
	<button style= type ="button" class="close" data-dismiss="alert">&times; </button>
<span style="color: yellow;  font-family:'Times New Roman', Times, serif; font-size:19px;">{{infoMessage}}</span>
</div>
{{/if}}
    <div class="logo">
        <img src="CodeQueen Logo.png" alt="CodeQueen logo" width="200px">
    </div>
    <div class="registration-form">
        <div class="form-space">
            <h2 class="title">Sign up</h2>
            <form action="/signup" id="signupform" method="POST">
                <div class="form-area">
                    <div class="form-group">
                        <input type="text" class="form-control item" id="firstname" name="firstname" placeholder="Firstname" required >
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control item" id="lastname" name="lastname" placeholder="Lastname" required>
                    </div>
                     <div class="form-group">
                        <input type="text" class="form-control item" id="username" name="username" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control item" id="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                 <input type="password" class="form-control item" id="password" name="password" placeholder="Password" required>
                 </div>
                 <div class="form-group">
                        <input type="password" class="form-control item" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
                    </div>
                    
                    <div class="form-group">
                        <button type="submit"  class="btn btn-block create-account" id="register-btn">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
</body>
</html>